@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-istq: #171A64;
  --color-istq-orange-darker: #B7860F;
  --color-istq-orange: #EFBB4A;
  --color-istq-green-darker: #078F5B;
  --color-istq-green: #ACCE22;
  --color-istq-white: #D8D8F3;
  --color-istq-black: #09091D;

  --font-poppins: "Poppins", "sans-serif";
}

html {
  @apply font-poppins scroll-smooth;
}

*::selection {
  @apply bg-istq-green-darker text-istq-white; 
}

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  @apply bg-istq-green-darker! fixed! z-100! top-0! left-0! w-full! h-[3px]!;
}